html
  head
    title='PS FTW'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css')
  body
    div.container
      div.jumbotron
        h1 Welcome to inventory management application!!
        p
         

          Is a place where you get all what you need!! 
          
          
        p
        p Be careful. The last time I updated the packages in this app was July 2021.

        a(href='//google.com') Google


        a(class='button' href='//google.com') Google


        a(class='button', href='//google.com') Google

